* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Variaveis na raiz para cores- refatoração de codigo*/
:root{
    --card-title-border-color:#746615; 
    --card-color-primary: #f7dd43;
    --card-bg-color: #1d1c19;
    --bg: url(./assets/bg-yellow.svg);
}

body.blue{
    --card-title-border-color:#338AF3; 
    --card-color-primary: #338AF3;
    --card-bg-color: #202024;
    --bg: url(./assets/bg-blue.svg);
}

body.green{
    --card-title-border-color:#047C3F; 
    --card-color-primary: #047C3F;
    --card-bg-color: #1a1f1b;
    --bg: url(./assets/bg-green.svg);
}

ul{
    list-style: none;
}

body {
    background-color: #121214;
    background-image: var(--bg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

body *{
    font-family: 'Roboto', sans-serif;
}


#app{
    
    width: fit-content;
    margin: 52px auto;
}
header{
    margin-bottom: 63px;
    text-align: center;
}

/*Separar um card do outro*/
#cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card{
    
    padding: 32px 23px;
    text-align: center;

    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
   
}

/* estilo do dia mes*/
.card h2{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    
    padding: 8px 16px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;
    
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;

    color: #f7dd43;
}

/* estilo do dia da semana*/
.card h2 span {

    color : #E1E1E6;
    font-size: 14px;
    text-transform: uppercase;

}
/*estilo da rodada*/
.card h4{
    margin-bottom: 60px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
/* estilo do Horario-alinhamento*/
.card ul li { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.card ul li {
    
}
/*estilo da linha entre jogos/alinhamento*/
.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 270px;
}
/*só mostra a linha se estiver uma lista anterior a outra lista*/
.card ul li + li {

    padding-top: 24px;
    border-top: 1px solid #323238;
}

/* estilo do Horario/fonte/tamanho*/
.card ul li strong{
    font-weight: 900;
    font-size: 26px;
    line-height: 125%;
    

    color: #D9D9D9;
}
/*estilo do menu grupos*/
#menu{
    background-color: #1d1c19;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ffffff48;
    flex-wrap: wrap;
}
/*estilo core/tamanho do texto grupos*/
#menu a{
    color: white;
    padding: 09px;
    cursor: pointer;
    transition: all  .3s ease;
}

/*estilo ao passar o mouse no menu grupos*/
#menu a:hover{
    background-color: white;
    border-radius: 5px;
    color: #261118;
}

/*criar animação para bandeiras*/
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover{
    transform:  scale(1.1);
}
/*criar animação para bandeiras*/
.card h2,
.card ul li strong,
.card ul li img{
    transition: transform 0.3s;
}

.card ul li img{
   max-width: 50px; 
}

figcaption.name-country{
    display: block;
    margin-top: 8px;

    text-transform: capitalize;
    font-size: 14px;
    color: #D9D9D9;
}

.card {
    opacity: 0;
    animation: appear .3s forwards
}   
/* tranferido essa animação para o JavaScript linha : 11
.card:nth-child(1){
    animation-delay: .2s;
}

.card:nth-child(2){
    animation-delay: .4s;
}

.card:nth-child(3){
    animation-delay: .6s;
}
*/

@keyframes appear {
    0% {
        transform: translatey(-50px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*Responsividade*/
@media(min-width: 700px){
    #cards {
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.card ul li figure{
    width: 100px;
    color: #fff;
}

